.deps
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
*.o
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
*.la
.libs
*.lo
*.log*
ltmain.sh
missing
postald
stamp-h1
*.swp
postal-add-device
postal-get-devices
postal-remove-device
test-postal-device
test-postal-dm-cache
test-postal-http
test-postal-service
test-url-router
